.wrap-body {
    /* display: none; */
}

.wrap-modal {
    height: 100%;
}

.header-modal {
    height: 40px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #d2d2d7;
    z-index: 1;
}

.modal-close {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.modal-close button {
    border: 0;
    background: transparent;
    padding-left: 5px;
    color: #fff;
}

.modal-title {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.modal-search {
    position: absolute;
    top: 10px;
    right: 10px;
}

.wrap-search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    border: 1px solid #fff;
    
}

.wrap-search:hover {
    border: 1px solid #d2d2d7;
}

.header-search-input {
    border: 0;
    margin: 1px;
    width: 180px;
    padding: 0 5px;
}

.header-search-input:focus-visible {
    outline: 1px solid #fff;
}

.header-search-button {
    border: 0;
    background: transparent;
    padding-right: 4px;
}

.header-search-button img {
    width: 16px;
    height: auto;
}

.body-modal {
    margin-top: 40px;
}

.body-modal {
    background-color: #fff;
}

/* filter */
.wrap-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

.wrap-left-filter {
    display: flex;
    align-items: center;
}

.wrap-left-filter select {
    background: url("../../assets/imgs/icons/icon_select.png") no-repeat;
    background-size: 10px 10px;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    padding-right: 2rem !important;
    
}

.wrap-left-filter select:focus{
    border-color: #000;
    outline:none;
}

.right-filter {
    width: 30px;
    height: auto;
}


.filter {
    margin-right: 15px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #d2d2d7;
	height: 40px;
    color: #000;
    font-weight: 500;
}

.modal-top {
    width: 30px;
    height: auto;
    position: absolute;
    bottom: 90px;
    right: 20px;
    display: none;
}

.modal-top button {
    background: transparent;
}


/* ================= Info ================== */
.info {
    display: flex;
    padding: 30px;
}

.wrap-left-info {
  width: 40%;
  padding-right: 15px;
} 
.wrap-right-info {
  width: 60%;
  padding-left: 15px;
}

.wrap-social-network {
  padding-bottom: 20px;
}

.info-img {
  padding-bottom: 15px;
}

.item-support {
  padding-right: 20px;
}

.item-support img {
  width: 50px;
  height: auto;
}

.item-social-network img {
  width: 30px;
  height: auto;
}

.field-form {
  padding-bottom: 15px;
}

.field-form input {
  padding: 5px 15px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: 1px solid #d2d2d7;
}

.field-form .error {
  height: 16.5px;
}

.field-img {
  display: flex;
}

.field-form .choose-img {
  width: 30%;
  color: #000;
  cursor: pointer;
  border-radius: 0;
}

.form-submit {
  text-align: center;
  padding-top: 50px;
}

.form-submit .submit-info {
  width: 150px;
  height: 50px;
  font-size: 16px;
  color: #000;
  border-radius: 0;
  border: 1px solid #d2d2d7;
}

.wrap-description-info {
    padding: 30px;
}

.slider-info {
    z-index: 0;
    position: relative;
}

.owl-nav {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-next {
    position: absolute;
    right: 0;
    background: linear-gradient(-90deg,rgba(0,0,0,.6),transparent) !important;
}

.owl-prev {
    background: linear-gradient(90deg,rgba(0,0,0,.6),transparent) !important;
}

.owl-prev,
.owl-next {
    height: 100%;
    width: 10%;
}

.owl-prev span,
.owl-next span {
    font-size: 90px;
    color: #fff;
}

.owl-dots {
    display: none;
}

.reset-captcha {
    display: flex;
}

#reset-captcha {
    background: transparent;
    padding-right: 30px;
}

#captcha {
    background-image: url(../../assets/imgs/captcha-bg.png);
    font-size: 18px;
    text-align: center;
    letter-spacing: 10px;
}

.text-robot {
    text-align: center;
    font-size: 12px;
}

#reset-captcha img {
    width: 70px;
    height: auto;
}