.wrap-body {
    /* display: none; */
}

.wrap-modal {
    height: 100%;
}

.header-modal {
    height: 40px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #d2d2d7;
}

.modal-close {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.modal-close button {
    border: 0;
    background: transparent;
    padding-left: 5px;
    color: #fff;
}

.modal-title {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.modal-search {
    position: absolute;
    top: 10px;
    right: 10px;
}

.wrap-search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    border: 1px solid #fff;
    
}

.wrap-search:hover {
    border: 1px solid #d2d2d7;
}

.header-search-input {
    border: 0;
    margin: 1px;
    width: 180px;
    padding: 0 5px;
}

.header-search-input:focus-visible {
    outline: 1px solid #fff;
}

.header-search-button {
    border: 0;
    background: transparent;
    padding-right: 4px;
}

.header-search-button img {
    width: 16px;
    height: auto;
}

.body-modal {
    margin-top: 40px;
}

.modal-body {
    background-color: #fff;
}

/* filter */
.wrap-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

.wrap-left-filter {
    display: flex;
    align-items: center;
}

.wrap-left-filter select {
    background: url("../../assets/imgs/icons/icon_select.png") no-repeat;
    background-size: 10px 10px;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    padding-right: 2rem !important;
    
}

.wrap-left-filter select:focus{
    border-color: #000;
    outline:none;
}

.right-filter {
    width: 30px;
    height: auto;
}


.filter {
    margin-right: 15px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #d2d2d7;
	height: 40px;
    color: #000;
    font-weight: 500;
}

.modal-top {
    width: 30px;
    height: auto;
    position: absolute;
    bottom: 90px;
    right: 20px;
    display: none;
}

.modal-top button {
    background: transparent;
}
