/* ==========================================================================
Responsive CSS Landscape Tablet
========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
    .main-menu li {
      padding-left: 30px;
    }
  
    .gallery {
      column-count: 3;
    }

    .left-footer {
      width: 35%;
    }
    .center-footer {
      width: 35%;
    }
    .right-footer {
      width: 30%;
    }
}
  
/* ==========================================================================
Responsive CSS Portrait Tablet
========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .gallery {
      column-count: 2;
    }
  
    .logo a {
      font-size: 30px;
    }

    .input-search {
      width: 130px;
    }
  
    .main-menu li {
      padding-left: 15px;
    }
  
    .main-menu li a {
      font-size: 16px;
    }
  
    .wrap-footer {
      padding-bottom: 0;
    }

    .left-footer {
      width: 35%;
    }
    .center-footer {
      width: 35%;
    }
    .right-footer {
      width: 30%;
    }
    .wrap-planet img {
      width: 350px;
    }
}
  
/* ==========================================================================
Responsive CSS Landscape Mobile
========================================================================== */
@media only screen and (min-width: 559px) and (max-width: 767px) {
  .wrap-header .logo a {
    font-size: 55px;
  }

  .main-menu li {
    padding: 30px 0;
  }

  .main-menu li a {
    font-size: 30px;
  }

  .main-menu li {
    padding: 30px 0;
  }
}
  
/* ==========================================================================
Responsive CSS Portrait Mobile
========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 560px) {
  .main-menu li {
    padding: 15px 0;
  }

  .wrap-planet img {
    width: 300px;
    height: auto;
  }
}
  
/* ==========================================================================
Responsive CSS Mobile
========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 767px) {
    .mobile {
        display: block;
    }

    .filter {
      flex-direction: column;
      padding: 0 0 30px 0;
    }
  
    #main {
      padding-top: 85px;
      padding-left: 15px;
      padding-right: 15px;
    }
  
    .footer {
      padding: 0 15px;
    }
  
    .wrap-header {
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      width: 100%;
      height: 100vh;
      padding: 15px 15px;
      background-color: #15363d;
      transition: transform 500ms ease-in-out 25ms;
      z-index: 2;
      overflow-y: scroll;
    }
  
    .close-menu {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;
    }
  
    .close-menu img {
      width: 25px;
    }
  
    .wrap-header .logo {
      margin-bottom: 30px;
    }

    .menu {
      width: 100%;
    }
  
    .wrap-menu {
      width: 100%;
    }
  
    .main-menu {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  
    .main-menu li {
      width: 100%;
    }
  
    .not-showmenu {
      transform: translateX(-100%);
    }
  
    .menu-mobile {
      position: fixed;
      display: flex;
      justify-content: flex-end;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      /* background-color: rgba(60,60,60,.4); */
      background: linear-gradient(45deg,#18ffff,#c471ed,#f64f59);
      width: 100%;
      z-index: 1;
    }

    .logo-mobile .logo a {
      font-size: 25px;
      color: #fff;
      background: unset;
      -webkit-background-clip: unset;
      -webkit-text-fill-color:unset;
    }
  
    .menu-mobile img {
      width: 32px;
      height: auto;
    }
  
    .wrap-filter {
      width: 100%;
      flex-direction: column;
    }
  
    .select-filter {
      width: 100%;
      margin-bottom: 20px;
      height: 50px;
    }

    .select-filter option {
      font-size: 16px;
    }

    .input-search {
      width: 100%;
      font-size: 16px;
    }

    .search img {
      width: 22px;
    }

    .search {
      width: 100%;
      height: 45px;
    }

    .search form {
      display: flex;
      width: 100%;
    }

    .box {
      width: 100%;
    }
  
    .gallery {
      column-count: 1;
    }

    .wrap-planet {
      display: none;
    }

    .wrap-planet img {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  
    .footer-support {
      padding-bottom: 30px !important;
    }

    .wrap-footer {
      flex-direction: column;
      padding-bottom: 0;
    }
  
    .left-footer {
      width: 100%;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .center-footer {
      width: 100%;
      padding: 0;
    }
  
    .right-footer {
      display: block;
      width: 100%;
    }
}
  